#navSelected{
    background-color: #007d09;
    border-radius: 6px;
}
#leftDiv{
    float: left;
    width: 20%;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 74, 10, 0.6);
    color: white;
}
.leftDivList{
    padding: 6px;
}
#rightDiv{
    float: left;
    width: 60%;
    height: 60%;
    border-radius: 6px;
    background-color: rgba(0, 131, 5, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 10px;
    margin-left: 50px;
    padding: 5px;
}
#mainContainer{
    height: 100%;
}
#map{
    height: 300px; 
    width: 98.5%;
    margin: 5px;
}
.LeftDivListButton{
    background-color: white;
    color: black;
    border-radius: 6px;
    border: 1px solid black ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
.LeftDivListButton:hover{
    background-color: black;
    color: white;
    border-radius: 6px;
    border: 1px solid white ;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
}
#footnote{
    font-size: 50%;
}

