#navSelected{
    background-color: #007d09;
    border-radius: 6px;
}
#leftDiv{
    float: left;
    width: 20%;
    border-radius: 6px;
    margin-top: 10px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    background-color: rgba(0, 74, 10, 0.6);
    color: white;
}
.leftDivList{
    padding: 6px;
}
#rightDiv{
    float: left;
    width: 60%;
    height: 60%;
    border-radius: 6px;
    background-color: rgba(66, 124, 189, 0.6);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    color: white;
    margin-top: 10px;
    margin-left: 50px;
}
#mainContainer{
    height: 100%;
}
#map{
    height: 400px; 
    width: 100%;
}